!!! 5
html(lang='en', style='background-color: #000000;')
head
    title= title
    meta(charset='utf-8')
    meta(content='#{site.description}', name='description')
    link(href='/stylesheets/vendor/nouislider.space.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/vendor/html5-doctor-reset-stylesheet.min.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/screen.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Questrial', rel='stylesheet', type='text/css')
    link(href='/images/icon-128x128.png', rel='icon', type='image/png')
    link(href='#{site.images_domain}', rel='dns-prefetch')
    link(href='#{site.videos_domain}', rel='dns-prefetch')
    link(href='/images/logo.png', rel='prefetch')
    link(href='/images/play.png', rel='prefetch')
    link(href='/images/pause.png', rel='prefetch')
    link(href='/images/click.png', rel='prefetch')
    link(href='/images/swipe.png', rel='prefetch')
    link(href='/humans.txt', rel='author')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='black-translucent', name='apple-mobile-web-app-status-bar-style')
    meta(content='width=device-width, initial-scale=1.0, user-scalable=no', name='viewport')
    link(href='/images/icon-57x57.png', rel='apple-touch-icon')
    link(href='/images/icon-57x57.png', rel='apple-touch-icon', sizes='57x57')
    link(href='/images/icon-114x114.png', rel='apple-touch-icon', sizes='114x114')
    link(href='/images/icon-72x72.png', rel='apple-touch-icon', sizes='72x72')
    link(href='/images/icon-144x144.png', rel='apple-touch-icon', sizes='144x144')
    link(href='/images/icon-57x57.png', rel='apple-touch-icon-precomposed')
    link(href='/images/icon-57x57.png', rel='apple-touch-icon-precomposed', sizes='57x57')
    link(href='/images/icon-114x114.png', rel='apple-touch-icon-precomposed', sizes='114x114')
    link(href='/images/icon-72x72.png', rel='apple-touch-icon-precomposed', sizes='72x72')
    link(href='/images/icon-144x144.png', rel='apple-touch-icon-precomposed', sizes='144x144')
    link(href='/images/icon-128x128.png', rel='apple-touch-startup-image')
    meta(content='Animted Gifs', property='og:title')
    meta(content='#{site.title}', property='og:site_name')
    meta(content='#{site.description}', property='og:description')
    meta(content='website', property='og:type')
    meta(content='summary', name='twitter:card')
    meta(content='@#{site.title}', name='twitter:site')
    meta(content='#{site.title}', name='twitter:title')
    meta(content='Click the gif, hit the right arrow key, or swipe on mobile.', name='twitter:description')
    meta(content='images/icon-144x144.png', name='twitter:image:src')
    meta(content='#{site.domain}', name='twitter:domain')
    if(image)
      meta(property='og:image', content= '#{image.url}')
  body
    header
      ul.addthis_toolbox
        li
          a.addthis_button_facebook
            img(alt='Share on Facebook', src='images/Facebook.png', title='Share on Facebook')
        li
          a.addthis_button_twitter
            img(alt='Share on Twitter', src='/images/Twitter.png', title='Share on Twitter')
        li
          a.addthis_button_google_plusone_share
            img(alt='Share on Google+', src='/images/GooglePlus.png', title='Share on Google+')
        li
          a.addthis_button_tumblr
            img(alt='Share on Tumblr', src='/images/Tumblr.png', title='Share on Tumblr')
        li
          a.addthis_button_reddit
            img(alt='Share on Reddit', src='/images/Reddit.png', title='Share on Reddit')
    section
      #instructions(style='background-image: url(/images/click.png);')
      if(image)
        a#image(style='background-image: url('+image.url+');')
        script
          window._queue = !{images_string}
      else  
        a#image
    footer
      a#logo(href='#{site.domain}', title='#{site.title}')
        img(alt='#{site.title}', src='/images/logo.png')
      ul#buttons
        li
          img#play-pause(alt='Play (up arrow)', src='/images/play.png', title='Play (up arrow)')
      #progress.noUiSlider
    //if lt IE 9
      script(src='http://code.jquery.com/jquery-1.10.2.min.js')
      script
        window.jQuery || document.write('<script src="/javascripts/vendor/jquery-1.10.2.min.js"><\\/script>')
    //if gte IE 9
    script(src='http://code.jquery.com/jquery-2.0.3.min.js')
    script
      window.jQuery || document.write('<script src="/javascripts/vendor/jquery-2.0.3.min.js"><\\/script>')
    //
      [endif]
    script
      var addthis_config = {
      data_track_clickback: true,
      data_ga_property: '#{site.google_analytics}',
      data_ga_social: true
      }
    script(src='/js/vendor/hammer.min.js')
    script(src='/js/vendor/jquery.hammer.min.js')
    script(src='/js/vendor/jquery.nouislider.min.js')
    script(src='http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51feeb004256bccd')
    script(src='/js/drug.js')
